/*
box - main box with all content
product-img - the img
details - having all the text content with the button inside
buy - has the button and the pricing
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  width: min(100%, 36.5rem);
  border-radius: 0.5rem;
  background-color: white;
}

/* 1fr makes it column
1fr 1fr makes it row*/

@media (min-width: 32.5rem) {
  .box {
    grid-template-columns: 1fr 1fr;
  }
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media screen and (min-width: 32.5rem) {
  .product-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
  }
}

.details {
  padding: 2rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: hsl(228, 12%, 48%);
}

.buy {
  display: flex;
  align-items: start;
  flex-direction: column;
  p {
    font-size: 1.9rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
  }
  .realP {
    font-size: 1.9rem;
  }
  .fakeP{
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: hsl(228, 12%, 48%);
  }
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  width: min(100%, 20rem);
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
}